.modal {
  background-color: #2e2f42;
  padding: 28px 164px;
}

.gallery {
  max-width: 1440px;
  background-color: #f5f5f5;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px 156px;
  gap: 24px;
}
.gallery-item img {
  height: auto;
  width: 360px;
  height: 200px;
}
